* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  background: url(./wave-haikei.png) no-repeat;
  background-size: cover;
}
